@font-face {
  font-family: 'Pictos';
  src: url('fonts/modernpics.otf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

body {
  background-color: #FBFBFB;
  height: 100%;
  font-family: 'Open Sans', Tahoma;
}

a {
  text-decoration: none;
}

img:hover {
  background-color: #DBDCDE;
  border-radius: 5px;
}

li {
  list-style-type: none;
}

.pictos {
  font-family: 'Pictos';
}

/* NAV BAR ----------------------------------------------- */

/* nav bar sits at top (abs or rel depends on window/screen size) */
nav {
  height: 49px;
  width: 100%;
  top: 0;
  left: 0;

  background-color: #e6e7e8;
  box-shadow: 0 0 5px 2px #DBDCDE;

}

/* home button sits at left */
.n-home {
  font-size: 2.25em;
  color: #636261;
  float:left;
  font-weight: 100;
}

.n-list {
  list-style: none;
  margin: 0 2%;
  vertical-align: baseline;
  float: right;
}

@media screen and (max-width:900px) {
  .n-list {
    width: 300px;
   }
}

@media screen and (min-width:901px) and (max-width:1171px) {
  .n-list {
    width: 300px;
  }
}

@media screen and (min-width:1172px) {
  .n-list {
    width: 350px;
  }
}

.n-list li {
  float: left;
}

.n-list li a {
  display: block;
  margin: 0 10px;
  color: #2f2f2f;
  padding: 0 10px;
}

nav a:hover {
  background-color: #DBDCDE;
}


@media screen and (max-width:549px), (max-device-width:360px){
  nav {
    position: absolute;
  }


}

@media screen and (min-width:550px){
  nav {
    position: fixed;
    z-index: 10;
  }

}

/* MAIN CONTENT ---------------------------- */

main {
  width: 100%;
  min-height: 100%;
}

/* MAIN NOTES LIST ------------------------- */

.note-box {
  width: calc(100% - 270px);
  margin: 5px auto;
  float: left;
}

.note {
  display: inline-block;
  margin: 5px;
}

.note-img {
  width: 50%;
  padding: 25%;
  height: auto;
}



/* two column w/ aisde */
@media screen and (max-width:825px){
  .note {
    width: 45%;
    height: auto;
  }
}
/* two column w/o aside */
@media screen and (max-width:549px){
  .note-box {
    width: calc(100%);
  }
}

/* three column */
@media screen and (min-width:826px) and (max-width:1171px){

  .note {
    width: 30%;
    height: auto;
  }
}

/* four column */
@media screen and (min-width: 1172px) {
  .note-box {
    width: calc(100% - 350px);
  }
  .note {
    width: 22.5%;
    height: auto;
  }
}



/* INFO ASIDE ----------------------------- */

/* side bar when window is minimum size of 550px */
@media screen {
  .info {
    position: fixed;
    float: right;
    right: 0;
    height: 100%;
    margin: 0;
    margin-top: 43px;
    background-color: #DBDCDA;
    box-shadow: 0 0 5px 2px #DDD;
    z-index: 5;
  }
}

/* no aside */
@media screen and (max-width:549px) {
  .info {
    width: 0;
  }
}

@media screen and (min-width:550px) and (max-width:1171px) {
  .info {
    width: 270px;
  }
}

@media screen and (min-width:1172px) {
  .info {
    width: 350px;
  }
}


/* FOOTER --------------------------------- */


footer {
  position: relative;
  clear: both;
  height: 175px;
  width: 100%;
  bottom: 0;
  background-color: #e6e7e8;
  box-shadow: 0 0 5px 2px #DBDCDE;
  z-index: 100;
}

/* SIGN UP PAGE --------------------------- */

.signup-box {
  position: relative;
  height: 500px;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  background-color: #DBDCDE;
}
